<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID4759</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {1280, 960}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1280, 960}}</string>
                <key>sourceSize</key>
                <string>{1280, 960}</string>
            </dict>
            <key>PTModelSprite_ID4754</key>
            <dict>
                <key>frame</key>
                <string>{{0, 964}, {1280, 960}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1280, 960}}</string>
                <key>sourceSize</key>
                <string>{1280, 960}</string>
            </dict>
            <key>PTModelSprite_ID4777</key>
            <dict>
                <key>frame</key>
                <string>{{1284, 0}, {500, 541}}</string>
                <key>offset</key>
                <string>{8, -6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{17, 16}, {500, 541}}</string>
                <key>sourceSize</key>
                <string>{519, 562}</string>
            </dict>
            <key>PTModelSprite_ID4776</key>
            <dict>
                <key>frame</key>
                <string>{{1284, 964}, {506, 539}}</string>
                <key>offset</key>
                <string>{7, -6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{13, 17}, {506, 539}}</string>
                <key>sourceSize</key>
                <string>{519, 562}</string>
            </dict>
            <key>PTModelSprite_ID3289</key>
            <dict>
                <key>frame</key>
                <string>{{1284, 545}, {487, 232}}</string>
                <key>offset</key>
                <string>{-8, 26}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{16, 68}, {487, 232}}</string>
                <key>sourceSize</key>
                <string>{534, 419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID3290.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID3290.png</string>
        </dict>
    </dict>
</plist>
