<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID1573</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {1136, 640}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1136, 640}}</string>
                <key>sourceSize</key>
                <string>{1136, 640}</string>
            </dict>
            <key>PTModelSprite_ID1756</key>
            <dict>
                <key>frame</key>
                <string>{{1140, 0}, {364, 618}}</string>
                <key>offset</key>
                <string>{-38, 5}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{74, 40}, {364, 618}}</string>
                <key>sourceSize</key>
                <string>{587, 707}</string>
            </dict>
            <key>PTModelSprite_ID121</key>
            <dict>
                <key>frame</key>
                <string>{{0, 644}, {2000, 563}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {2000, 563}}</string>
                <key>sourceSize</key>
                <string>{2000, 563}</string>
            </dict>
            <key>PTModelSprite_ID1873</key>
            <dict>
                <key>frame</key>
                <string>{{1508, 0}, {369, 394}}</string>
                <key>offset</key>
                <string>{-149, 8}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{7, 31}, {369, 394}}</string>
                <key>sourceSize</key>
                <string>{680, 472}</string>
            </dict>
            <key>PTModelSprite_ID1874</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1211}, {369, 391}}</string>
                <key>offset</key>
                <string>{-149, 7}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{7, 34}, {369, 391}}</string>
                <key>sourceSize</key>
                <string>{680, 472}</string>
            </dict>
            <key>PTModelSprite_ID1875</key>
            <dict>
                <key>frame</key>
                <string>{{373, 1211}, {368, 387}}</string>
                <key>offset</key>
                <string>{-148, 5}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{8, 38}, {368, 387}}</string>
                <key>sourceSize</key>
                <string>{680, 472}</string>
            </dict>
            <key>PTModelSprite_ID1876</key>
            <dict>
                <key>frame</key>
                <string>{{745, 1211}, {367, 384}}</string>
                <key>offset</key>
                <string>{-148, 3}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{9, 41}, {367, 384}}</string>
                <key>sourceSize</key>
                <string>{680, 472}</string>
            </dict>
            <key>PTModelSprite_ID1877</key>
            <dict>
                <key>frame</key>
                <string>{{1116, 1211}, {368, 382}}</string>
                <key>offset</key>
                <string>{-146, 2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{10, 43}, {368, 382}}</string>
                <key>sourceSize</key>
                <string>{680, 472}</string>
            </dict>
            <key>PTModelSprite_ID2136</key>
            <dict>
                <key>frame</key>
                <string>{{1881, 0}, {112, 331}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{2, 27}, {112, 331}}</string>
                <key>sourceSize</key>
                <string>{118, 385}</string>
            </dict>
            <key>PTModelSprite_ID442</key>
            <dict>
                <key>frame</key>
                <string>{{1488, 1211}, {234, 233}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {234, 233}}</string>
                <key>sourceSize</key>
                <string>{234, 233}</string>
            </dict>
            <key>PTModelSprite_ID342</key>
            <dict>
                <key>frame</key>
                <string>{{1508, 398}, {189, 173}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {189, 173}}</string>
                <key>sourceSize</key>
                <string>{189, 174}</string>
            </dict>
            <key>PTModelSprite_ID5787</key>
            <dict>
                <key>frame</key>
                <string>{{1701, 398}, {250, 165}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {250, 165}}</string>
                <key>sourceSize</key>
                <string>{250, 165}</string>
            </dict>
            <key>PTModelSprite_ID106</key>
            <dict>
                <key>frame</key>
                <string>{{1726, 1211}, {285, 160}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {285, 160}}</string>
                <key>sourceSize</key>
                <string>{285, 160}</string>
            </dict>
            <key>PTModelSprite_ID5792</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1606}, {201, 151}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {201, 151}}</string>
                <key>sourceSize</key>
                <string>{201, 151}</string>
            </dict>
            <key>PTModelSprite_ID4975</key>
            <dict>
                <key>frame</key>
                <string>{{1997, 0}, {19, 150}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{65, 1}, {19, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID1576</key>
            <dict>
                <key>frame</key>
                <string>{{1488, 1448}, {447, 139}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {447, 139}}</string>
                <key>sourceSize</key>
                <string>{447, 139}</string>
            </dict>
            <key>PTModelSprite_ID1906</key>
            <dict>
                <key>frame</key>
                <string>{{205, 1606}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1846</key>
            <dict>
                <key>frame</key>
                <string>{{337, 1606}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1810</key>
            <dict>
                <key>frame</key>
                <string>{{469, 1606}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1793</key>
            <dict>
                <key>frame</key>
                <string>{{601, 1606}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1778</key>
            <dict>
                <key>frame</key>
                <string>{{733, 1606}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1729</key>
            <dict>
                <key>frame</key>
                <string>{{865, 1606}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1717</key>
            <dict>
                <key>frame</key>
                <string>{{997, 1606}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1681</key>
            <dict>
                <key>frame</key>
                <string>{{1129, 1606}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1613</key>
            <dict>
                <key>frame</key>
                <string>{{1261, 1606}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1629</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1761}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1619</key>
            <dict>
                <key>frame</key>
                <string>{{461, 1761}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1616</key>
            <dict>
                <key>frame</key>
                <string>{{922, 1761}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1626</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1878}, {791, 109}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {791, 109}}</string>
                <key>sourceSize</key>
                <string>{791, 109}</string>
            </dict>
            <key>PTModelSprite_ID1610</key>
            <dict>
                <key>frame</key>
                <string>{{1383, 1761}, {417, 109}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {417, 109}}</string>
                <key>sourceSize</key>
                <string>{417, 109}</string>
            </dict>
            <key>PTModelSprite_ID1660</key>
            <dict>
                <key>frame</key>
                <string>{{1939, 1448}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PTModelSprite_ID1663</key>
            <dict>
                <key>frame</key>
                <string>{{1722, 1606}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PTModelSprite_ID1589</key>
            <dict>
                <key>frame</key>
                <string>{{1804, 1761}, {228, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {228, 100}}</string>
                <key>sourceSize</key>
                <string>{228, 100}</string>
            </dict>
            <key>PTModelSprite_ID1604</key>
            <dict>
                <key>frame</key>
                <string>{{795, 1878}, {911, 97}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {911, 97}}</string>
                <key>sourceSize</key>
                <string>{911, 97}</string>
            </dict>
            <key>PTModelSprite_ID1567</key>
            <dict>
                <key>frame</key>
                <string>{{1826, 1606}, {93, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {93, 93}}</string>
                <key>sourceSize</key>
                <string>{93, 93}</string>
            </dict>
            <key>PTModelSprite_ID1490</key>
            <dict>
                <key>frame</key>
                <string>{{1955, 398}, {81, 89}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {81, 89}}</string>
                <key>sourceSize</key>
                <string>{82, 90}</string>
            </dict>
            <key>PTModelSprite_ID1484</key>
            <dict>
                <key>frame</key>
                <string>{{1923, 1606}, {81, 89}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {81, 89}}</string>
                <key>sourceSize</key>
                <string>{82, 90}</string>
            </dict>
            <key>PTModelSprite_ID1502</key>
            <dict>
                <key>frame</key>
                <string>{{1710, 1878}, {90, 81}}</string>
                <key>offset</key>
                <string>{0, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {90, 81}}</string>
                <key>sourceSize</key>
                <string>{90, 82}</string>
            </dict>
            <key>PTModelSprite_ID1591</key>
            <dict>
                <key>frame</key>
                <string>{{1804, 1878}, {79, 79}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {79, 79}}</string>
                <key>sourceSize</key>
                <string>{79, 79}</string>
            </dict>
            <key>PTModelSprite_ID1598</key>
            <dict>
                <key>frame</key>
                <string>{{1955, 491}, {87, 72}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {87, 72}}</string>
                <key>sourceSize</key>
                <string>{87, 72}</string>
            </dict>
            <key>PTModelSprite_ID2264</key>
            <dict>
                <key>frame</key>
                <string>{{1726, 1375}, {62, 64}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {62, 64}}</string>
                <key>sourceSize</key>
                <string>{62, 64}</string>
            </dict>
            <key>PTModelSprite_ID2872</key>
            <dict>
                <key>frame</key>
                <string>{{1997, 154}, {32, 64}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {32, 64}}</string>
                <key>sourceSize</key>
                <string>{32, 64}</string>
            </dict>
            <key>PTModelSprite_ID151</key>
            <dict>
                <key>frame</key>
                <string>{{1792, 1375}, {63, 62}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {63, 62}}</string>
                <key>sourceSize</key>
                <string>{63, 63}</string>
            </dict>
            <key>PTModelSprite_ID110</key>
            <dict>
                <key>frame</key>
                <string>{{1859, 1375}, {63, 62}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {63, 62}}</string>
                <key>sourceSize</key>
                <string>{63, 63}</string>
            </dict>
            <key>PTModelSprite_ID2510</key>
            <dict>
                <key>frame</key>
                <string>{{1881, 335}, {150, 51}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {150, 51}}</string>
                <key>sourceSize</key>
                <string>{150, 51}</string>
            </dict>
            <key>PTModelSprite_ID2275</key>
            <dict>
                <key>frame</key>
                <string>{{1926, 1375}, {73, 46}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {73, 46}}</string>
                <key>sourceSize</key>
                <string>{73, 46}</string>
            </dict>
            <key>PTModelSprite_ID2186</key>
            <dict>
                <key>frame</key>
                <string>{{1887, 1878}, {116, 44}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {116, 44}}</string>
                <key>sourceSize</key>
                <string>{116, 44}</string>
            </dict>
            <key>PTModelSprite_ID2892</key>
            <dict>
                <key>frame</key>
                <string>{{1508, 575}, {74, 42}}</string>
                <key>offset</key>
                <string>{-3, 4}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 7}, {74, 42}}</string>
                <key>sourceSize</key>
                <string>{80, 64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID107.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID107.png</string>
        </dict>
    </dict>
</plist>
